Step 1: Importing Datasets

In [1]:
import pandas as pd

In [14]:
intc = pd.read_csv('INTC.csv')

In [15]:
intc.head(3)

         Date       Open       High        Low      Close  Adj Close    Volume
0  2021-06-28  56.360001  57.730000  56.340000  57.480000  55.844288  22480900
1  2021-06-29  57.549999  57.830002  55.880001  56.750000  55.135056  26360000
2  2021-06-30  56.340000  56.380001  55.389999  56.139999  54.542419  29891600

In [17]:
intc = pd.read_csv('INTC.csv', header=0, index_col='Date', parse_dates=True)

In [18]:
intc.head(3)

                 Open       High        Low      Close  Adj Close    Volume
Date
2021-06-28  56.360001  57.730000  56.340000  57.480000  55.844288  22480900
2021-06-29  57.549999  57.830002  55.880001  56.750000  55.135056  26360000
2021-06-30  56.340000  56.380001  55.389999  56.139999  54.542419  29891600

In [6]:
amd.tail(2)

                 Open       High        Low      Close  Adj Close    Volume
Date
2022-06-23  37.610001  37.619999  36.910000  37.410000  37.410000  30163000
2022-06-24  37.849998  38.639999  37.740002  38.610001  38.610001  38152100


Using Pandas DataReader

In [7]:
!pip install pandas_datareader

Collecting pandas_datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
     |████████████████████████████████| 109 kB 854 kB/s eta 0:00:01
Requirement already satisfied: pandas>=0.23 in /home/linux/.local/lib/python3.8/site-packages (from pandas_datareader) (1.4.2)
Collecting lxml
  Downloading lxml-4.9.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.9 MB)
     |████████████████████████████████| 6.9 MB 7.5 MB/s eta 0:00:01     |█████████████████████████████▍  | 6.4 MB 3.9 MB/s eta 0:00:01
Requirement already satisfied: requests>=2.19.0 in /usr/lib/python3/dist-packages (from pandas_datareader) (2.22.0)
Requirement already satisfied: pytz>=2020.1 in /home/linux/.local/lib/python3.8/site-packages (from pandas>=0.23->pandas_datareader) (2022.1)
Requirement already satisfied: numpy>=1.18.5; platform_machine != "aarch64" and platform_machine != "arm64" and python_version < "3.10" in /home/linux/.local/lib/python3.8/site-packages (from pandas>=0.23->pandas_datareader) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/linux/.local/lib/python3.8/site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas_datareader) (1.14.0)
Installing collected packages: lxml, pandas-datareader
Successfully installed lxml-4.9.0 pandas-datareader-0.10.0

In [8]:
import pandas_datareader as pdr

In [9]:
import datetime

In [10]:
nvda = pdr.get_data_yahoo('NVDA', 
                          start=datetime.datetime(2004, 1, 1), 
                          end=datetime.datetime(2019, 9, 15))

In [11]:

qcom = pdr.get_data_yahoo('QCOM',
                         start=datetime.datetime(2004,1,1),
                         end=datetime.datetime(2019,9,15))

In [13]:

aamd = pdr.get_data_yahoo('AMD',
                         start=datetime.datetime(2004,1,1),
                         end=datetime.datetime(2019,9,15))

In [19]:
ibm = pdr.get_data_yahoo('IBM',
                        start=datetime.datetime(2004,1,1),
                        end=datetime.datetime(2019,9,15))

In [20]:
type(nvda), type(amd)

(pandas.core.frame.DataFrame, pandas.core.frame.DataFrame)

In [21]:
nvda.head(n=2)

                High       Low      Open     Close      Volume  Adj Close
Date
2003-12-31  1.987500  1.901667  1.978333  1.933333  49726800.0   1.775302
2004-01-02  1.990833  1.923333  1.964167  1.923333  43641600.0   1.766120

In [22]:
ibm.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-09-09,136.730408,134.282990,134.407272,136.328873,4421024.0,118.996468
2019-09-10,139.063095,136.673035,136.711288,138.671127,5208766.0,121.040916
2019-09-11,138.738052,136.434036,138.479919,137.284897,4047706.0,119.830917
2019-09-12,137.705551,135.640533,137.695984,137.304016,2620648.0,119.847618
2019-09-13,138.288712,136.959854,137.973236,137.351822,2308104.0,119.889343