Step 1: Importing Datasets

In [1]:
import pandas as pd

In [2]:
amd = pd.read_csv('INTC.csv')

In [3]:
amd.head(3)

         Date       Open       High        Low      Close  Adj Close    Volume
0  2021-06-28  56.360001  57.730000  56.340000  57.480000  55.844288  22480900
1  2021-06-29  57.549999  57.830002  55.880001  56.750000  55.135056  26360000
2  2021-06-30  56.340000  56.380001  55.389999  56.139999  54.542419  29891600

In [4]:
amd = pd.read_csv('INTC.csv', header=0, index_col='Date', parse_dates=True)

In [5]:
amd.head(3)

                 Open       High        Low      Close  Adj Close    Volume
Date
2021-06-28  56.360001  57.730000  56.340000  57.480000  55.844288  22480900
2021-06-29  57.549999  57.830002  55.880001  56.750000  55.135056  26360000
2021-06-30  56.340000  56.380001  55.389999  56.139999  54.542419  29891600

In [6]:
amd.tail(2)

                 Open       High        Low      Close  Adj Close    Volume
Date
2022-06-23  37.610001  37.619999  36.910000  37.410000  37.410000  30163000
2022-06-24  37.849998  38.639999  37.740002  38.610001  38.610001  38152100